* {
    margin: 0;
    padding: 0;
    list-style: none;
}
@font-face {
    font-family:Beau-Regular ;
    src: url("https://www.ffonts.net/Beau-Regular.font");
}
body { 
    font-family: Beau-Regular;
}